pytz
PyYAML
requests
rest-framework-simplejwt
setuptools
six
#sqlparse
stripe
typing_extensions
tzdata
uritemplate
urllib3
gunicorn
psycopg2-binary
import-export
marshmallow
pillow
PyJWT
python-dateutil
python-dotenv
idna
Faker
packaging
inflection
djangorestframework
djangorestframework-simplejwt
drf-yasg
environs
asgiref
holidays
#mysqlclient
#django-cors-headers
#django-ckeditor
#django-debug-toolbar
#django-filter
#django-storages
#django-environ

