asgiref
certifi
charset-normalizer
dj-database-url
Django
environs
gunicorn
holidays
import-export
package_name
packaging
pillow
psycopg2-binary
python-dateutil
requests
sqlparse
typing_extensions
tzdata
uritemplate
urllib3
wheel
