asgiref
certifi
charset-normalizer
Django
django-ckeditor
django-cors-headers
django-debug-toolbar
django-environ
django-filter
django-js-asset
django-storages
djangorestframework
djangorestframework-simplejwt
drf-yasg
gunicorn
holidays
import-export
mysqlclient
packaging
pillow
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
requests
setuptools
sqlparse
tzdata

