{% extends "adminlte/base.html" %}
{% block 'titulo' %} Login {% endblock %}
{% load static %}
{% block 'conteudo' %}

<br><br><br><br><br><br><br><br>
<div class="container">
  <br>
  {% if status == '1' %}
  <div class="alert alert-danger" role="alert">
    Email ou senha inválidos
  </div>
  {% endif %}

  {% if status == '2' %}
  <div class="alert alert-danger" role="alert">
    Faça login antes de tentar acessar o sistema
  </div>
  {% endif %}

  <div class="container d-flex justify-content-center align-items-center">
    <div class="login-box">
      <div class="login-logo">
        <a href="#"><img src="{% static 'dist/img/logo.png' %}" style="width: 200px; height: auto;"></a>
      </div>

      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Acesse</p>

          <form method="POST" action="{% url 'valida_login' %}">
            {% csrf_token %}
            <div class="input-group mb-3">
              <input name="email" type="email" class="form-control" placeholder="Digite um email" autocomplete="email"
                required>
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-envelope"></span>
                </div>
              </div>
            </div>
            <div class="input-group mb-3">
              <input type="password" class="form-control" name="senha" placeholder="Digite sua senha">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-lock"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <div class="icheck-primary">
                  <input type="checkbox" id="remember">
                  <label for="remember">
                    Lembrar-me
                  </label>
                </div>
              </div>

              <div class="col-4">
                <input class="btn btn-info btn-lg btn-block" type="submit" value="Entrar">
              </div>

            </div>
          </form>

          <p class="mb-1">
            <a href="redefinir-senha.html">Esqueceu a senha?</a>
          </p>
          <p class="mb-0">
            <a href="{% url 'cadastro' %}" class="btn btn-info">Cadastro</a>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}